<div class="btn btn-reverse btn-file" type="button" value="{{label}}">
	<input type="file" name="{{name}}"/>
	<label for="file"><span class="fa fa-{{#if icon}}{{icon}}{{else}}file{{/if}}"></span><span>{{label}}</span></label>
</div>