{{#if user.background}}
<div class="p-{{padding}} bg-primary {{hidden}}" style="background-image:url({{user.background}})">
{{else}}
<div class="header p-{{padding}} bg-primary {{hidden}}">
{{/if}}
	<div class="container text-white">
		<img class="rounded-circle" src="{{getAvatar user._id user.avatar}}" width="{{imgSize}}"/>
		<span class="h{{h}} align-middle">{{user.username}}</span>
	</div>
</div>