{{> index.header title=conf.app.title slogan=conf.app.slogan padding=5}}

<section class="container">
	
	{{#ifCond error.form "register"}}
		<div class="alert alert-warning">{{error.message}}</div>
	{{/ifCond}}

	<form action="/api/register", method="POST">
		<div class="row">
			<div class="col-md-12 form-group">
				<span class="h3">Inscription</span>
			</div>
		
			<div class="col-md-6 form-group">
				<input type="text" name="username" class="form-control" placeholder="Pseudo" {{#if body}}value="{{body.username}}"{{/if}} required>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 form-group">
				<input type="text" name="firstName" class="form-control" placeholder="Prénom" {{#if body}}value="{{body.firstName}}"{{/if}} required>
			</div>
			<div class="col-md-6 form-group">
				<input type="text" name="lastName" class="form-control" placeholder="Nom" {{#if body}}value="{{body.lastName}}"{{/if}} required>
			</div>
			<div class="col-md-6 form-group">
				<input type="text" name="email" class="form-control" placeholder="Mail" {{#if body}}value="{{body.email}}"{{/if}} required>
			</div>

			<div class="col-md-6 form-group">
				<input type="password"  name="password" class="form-control" placeholder="Mot de passe" required>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 form-group">
				<span>age</span>
			</div>

			<div class="col-md-6 form-group">
				<input class="form-control" type="number" name="birthDay" value="18" min="18">
			</div>

			<div class="col-md-6 form-group">
				<label><input type="radio" name="gender" value="homme" checked> Homme</label>
				<label><input type="radio" name="gender" value="femme"> Femme</label>
			</div>
		
			<div class="col-md-12">
				<input type="submit" class="btn btn-primary" value="Inscription">
			</div>
		</div>
	</form>
</section>