<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ conf.app.title }} • {{ title }}</title>
		<link rel="icon" type="image/x-icon" href="/favicon.gif">
		{{> common.css }}
		{{> common.js }}
		{{#if css}}
			<link rel="stylesheet" type="text/css" href="/css/{{@exphbs.view}}.css">
		{{/if}}
		{{#if js}}
			<script type="text/javascript" src="/js/lib/{{@exphbs.view}}.js"></script>
		{{/if}}
	</head>

	<body class="bg-faded">
		<header class="main">
		{{> nav }}
		</header>
		<main class="">
		{{{ body }}}
		</main>
		<footer class="main">
		{{> footer}}
		</footer>
	</body>
</html>